<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='retangle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <div class="container">
        <div class="title">Ping</div>
        <div class="description">Ping check the host named hostname.</div>
        <form action="{{ url_for('ping') }}" method="post">
            <input type="text" class="input-rectangle" name="hostname" placeholder="Enter the hostname" required>
            <button class="find-button">Ping</button>
        </form>
        <div class="result">Result:
            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
        </div>
    </div>
    {% if alert %}
    <script>
        alert("{{ alert }}");
    </script>
    {% endif %}
    <ul>
        <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('publish') }}">Publish</a></li>
        <li><a href="{{ url_for('fetch') }}">Fetch</a></li>
        <li><a href="{{ url_for('discover') }}">Discover</a></li>
        <li><a href="{{ url_for('ping') }}">Ping</a></li>
        <li style="float:right"><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>

</body>

</html>